{% extends "layout.html" %}
{% block title %}
PODS KCL Survey
{% endblock %}
{% block style%}
<style>
body {

  background-color: #FAF5F0;
}
</style>
{%endblock%}
{% block bodyattributes%}
onload = start();
{% endblock %}

{% block content %}


<h1>Part 2</h1>
<br>
<h5>차트 아래의 질문에 답하십시오.</h5>
<br>

 <script type="text/javascript" src="../static/js/questions.js"></script>

<div class="bootstrap-iso">
        <div class="container-fluid">
            <div class="center">
                <form method="post" id="stimuli">
                    <div class="form-group question" id="div_diff1">
                        <label class="control-label " style="pointer-events: none;">
                            <img id="question-Image" src = " " style="max-width: 100%"/>
                            <h4 id="question-Text"><b>Test </b></h4>
                        </label>
                        <div style="text-align: center">
                            <div class=" " id="responses-Text" style="font-size:larger; display: inline-block;
                            text-align: left;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



<script type="text/javascript" src="../js/StimuliFunctions.js"></script>

<script>
    setTimeout(function(){
        window.location.href = "/quest";
    }, 65*60*1000);
</script>


<!--
<div>
        <canvas id='canvas' width="400"  height="160" style='outline: 1.5px black solid; margin-bottom: 1em; margin-top: 1em;'></canvas>
        <script type="text/javascript" src="../static/js/game.js"></script>

</div>
-->

<!--<p><button class="w3-button w3-blue-gray w3-round-xlarge w3-margin-bottom" onclick="window.location.href='/trans'">Next</button></p>-->
<p><button type="button" onclick="next()" id="NxtButton" class="w3-button w3-blue-gray w3-round-xlarge w3-margin-bottom">Next</button></p>


<div class="w3-container center" style="margin-bottom: 15px">
        <ol class="custom-progress-bar">
                <li class="is-complete"><span>Intro</span></li>
                <li class="is-complete"><span>Part 1 Training</span></li>
                <li class="is-complete"><span>Part 1</span></li>
                <li class="is-complete"><span>Part 2 Training</span></li>
                <li id="phase1" class="is-active"><span>Part 2</span></li>
                <li id="phase2"><span>Part 2</span></li>
                <li id="phase3"><span>Part 2</span></li>
                <li><span>Final Questions</span></li>
                <li><span>End</span></li>
        </ol>
</div>



{% endblock %}
